body{padding-top:20px !important;}

.g_1_d {background-color:#FFCCCC ;}
.g_2_d {background-color:#FFCCFF ;}
.g_3_d {background-color:#FFCC99 ;}
.g_4_d {background-color:#CCFFCC ;}
.g_5_d {background-color:#CCFFFF ;}
.g_6_d {background-color:#CCFF99 ;}
.g_7_d {background-color:#99FFCC ;}
.g_8_d {background-color:#CCCC99 ;}
.g_9_d {background-color:#FFFF99 ;}
.g_10_d {background-color:#66CCCC ;}
.g_11_d {background-color:#FF9999 ;}
.g_12_d {background-color:#FFFFCC ;}

.alpha{margin-left:0 !important;}
.omega{margin-right:0 !important;}
.row{width:100%; float:left; clear:both;}

*{min-height:1px;}


@media (min-width: 960px) {
  body{max-width:1200px; min-width:960px; margin:0 auto;}

  .container_12_d{width:98%; padding:0 1%; float:left;}

  .alpha_d{margin-left:0 !important;}
  .omega_d{margin-right:0 !important;}

  .g_1_d {float:left;margin:0 1.041667%;width:6.423611%;}
  .g_1_d .g_1_d {float:left;margin:0;width:100%;}

  .g_2_d {float:left;margin:0 1.041667%;width:14.930556%;}
  .g_2_d .g_1_d {float:left;margin:0 6.976744%;width:43.023256%;}
  .g_2_d .g_2_d {float:left;margin:0;width:100%;}

  .g_3_d {float:left;margin:0 1.041667%;width:23.437501%;}
  .g_3_d .g_1_d {float:left;margin:0 4.444444%;width:27.407408%;}
  .g_3_d .g_2_d {float:left;margin:0 4.444444%;width:63.703704%;}
  .g_3_d .g_3_d {float:left;margin:0;width:100%;}

  .g_4_d {float:left;margin:0 1.041667%;width:31.944446%;}
  .g_4_d .g_1_d {float:left;margin:0 3.260869%;width:20.108697%;}
  .g_4_d .g_2_d {float:left;margin:0 3.260869%;width:46.739132%;}
  .g_4_d .g_3_d {float:left;margin:0 3.260869%;width:73.369567%;}
  .g_4_d .g_4_d {float:left;margin:0;width:100.000002%;}

  .g_5_d {float:left;margin:0 1.041667%;width:40.451391%;}
  .g_5_d .g_1_d {float:left;margin:0 2.575107%;width:15.879829%;}
  .g_5_d .g_2_d {float:left;margin:0 2.575107%;width:36.909872%;}
  .g_5_d .g_3_d {float:left;margin:0 2.575107%;width:57.939915%;}
  .g_5_d .g_4_d {float:left;margin:0 2.575107%;width:78.969958%;}
  .g_5_d .g_5_d {float:left;margin:0;width:100.000001%;}

  .g_6_d {float:left;margin:0 1.041667%;width:48.958336%;}
  .g_6_d .g_1_d {float:left;margin:0 2.127659%;width:13.120568%;}
  .g_6_d .g_2_d {float:left;margin:0 2.127659%;width:30.496454%;}
  .g_6_d .g_3_d {float:left;margin:0 2.127659%;width:47.87234%;}
  .g_6_d .g_4_d {float:left;margin:0 2.127659%;width:65.248226%;}
  .g_6_d .g_5_d {float:left;margin:0 2.127659%;width:82.624112%;}
  .g_6_d .g_6_d {float:left;margin:0;width:99.999998%;}

  .g_7_d {float:left;margin:0 1.041667%;width:57.465281%;}
  .g_7_d .g_1_d {float:left;margin:0 1.812689%;width:11.178247%;}
  .g_7_d .g_2_d {float:left;margin:0 1.812689%;width:25.981872%;}
  .g_7_d .g_3_d {float:left;margin:0 1.812689%;width:40.785497%;}
  .g_7_d .g_4_d {float:left;margin:0 1.812689%;width:55.589122%;}
  .g_7_d .g_5_d {float:left;margin:0 1.812689%;width:70.392747%;}
  .g_7_d .g_6_d {float:left;margin:0 1.812689%;width:85.196372%;}
  .g_7_d .g_7_d {float:left;margin:0;width:99.999997%;}

  .g_8_d {float:left;margin:0 1.041667%;width:65.972226%;}
  .g_8_d .g_1_d {float:left;margin:0 1.578947%;width:9.736843%;}
  .g_8_d .g_2_d {float:left;margin:0 1.578947%;width:22.63158%;}
  .g_8_d .g_3_d {float:left;margin:0 1.578947%;width:35.526317%;}
  .g_8_d .g_4_d {float:left;margin:0 1.578947%;width:48.421054%;}
  .g_8_d .g_5_d {float:left;margin:0 1.578947%;width:61.315791%;}
  .g_8_d .g_6_d {float:left;margin:0 1.578947%;width:74.210528%;}
  .g_8_d .g_7_d {float:left;margin:0 1.578947%;width:87.105265%;}
  .g_8_d .g_8_d {float:left;margin:0;width:100.000002%;}

  .g_9_d {float:left;margin:0 1.041667%;width:74.479171%;}
  .g_9_d .g_1_d {float:left;margin:0 1.398601%;width:8.624709%;}
  .g_9_d .g_2_d {float:left;margin:0 1.398601%;width:20.04662%;}
  .g_9_d .g_3_d {float:left;margin:0 1.398601%;width:31.468531%;}
  .g_9_d .g_4_d {float:left;margin:0 1.398601%;width:42.890442%;}
  .g_9_d .g_5_d {float:left;margin:0 1.398601%;width:54.312353%;}
  .g_9_d .g_6_d {float:left;margin:0 1.398601%;width:65.734264%;}
  .g_9_d .g_7_d {float:left;margin:0 1.398601%;width:77.156175%;}
  .g_9_d .g_8_d {float:left;margin:0 1.398601%;width:88.578086%;}
  .g_9_d .g_9_d {float:left;margin:0;width:99.999997%;}

  .g_10_d {float:left;margin:0 1.041667%;width:82.986116%;}
  .g_10_d .g_1_d {float:left;margin:0 1.25523%;width:7.740586%;}
  .g_10_d .g_2_d {float:left;margin:0 1.25523%;width:17.991632%;}
  .g_10_d .g_3_d {float:left;margin:0 1.25523%;width:28.242678%;}
  .g_10_d .g_4_d {float:left;margin:0 1.25523%;width:38.493724%;}
  .g_10_d .g_5_d {float:left;margin:0 1.25523%;width:48.74477%;}
  .g_10_d .g_6_d {float:left;margin:0 1.25523%;width:58.995816%;}
  .g_10_d .g_7_d {float:left;margin:0 1.25523%;width:69.246862%;}
  .g_10_d .g_8_d {float:left;margin:0 1.25523%;width:79.497908%;}
  .g_10_d .g_9_d {float:left;margin:0 1.25523%;width:89.748954%;}
  .g_10_d .g_10_d {float:left;margin:0;width:100%;}

  .g_11_d {float:left;margin:0 1.041667%;width:91.493061%;}
  .g_11_d .g_1_d {float:left;margin:0 1.13852%;width:7.020873%;}
  .g_11_d .g_2_d {float:left;margin:0 1.13852%;width:16.318786%;}
  .g_11_d .g_3_d {float:left;margin:0 1.13852%;width:25.616699%;}
  .g_11_d .g_4_d {float:left;margin:0 1.13852%;width:34.914612%;}
  .g_11_d .g_5_d {float:left;margin:0 1.13852%;width:44.212525%;}
  .g_11_d .g_6_d {float:left;margin:0 1.13852%;width:53.510438%;}
  .g_11_d .g_7_d {float:left;margin:0 1.13852%;width:62.808351%;}
  .g_11_d .g_8_d {float:left;margin:0 1.13852%;width:72.106264%;}
  .g_11_d .g_9_d {float:left;margin:0 1.13852%;width:81.404177%;}
  .g_11_d .g_10_d {float:left;margin:0 1.13852%;width:90.70209%;}
  .g_11_d .g_11_d {float:left;margin:0;width:100.000003%;}

  .g_12_d {float:left;margin:0;width:100.000006%;}
  .g_12_d .g_1_d {float:left;margin:0 1.041667%;width:6.423611%;}
  .g_12_d .g_2_d {float:left;margin:0 1.041667%;width:14.930556%;}
  .g_12_d .g_3_d {float:left;margin:0 1.041667%;width:23.437501%;}
  .g_12_d .g_4_d {float:left;margin:0 1.041667%;width:31.944446%;}
  .g_12_d .g_5_d {float:left;margin:0 1.041667%;width:40.451391%;}
  .g_12_d .g_6_d {float:left;margin:0 1.041667%;width:48.958336%;}
  .g_12_d .g_7_d {float:left;margin:0 1.041667%;width:57.465281%;}
  .g_12_d .g_8_d {float:left;margin:0 1.041667%;width:65.972226%;}
  .g_12_d .g_9_d {float:left;margin:0 1.041667%;width:74.479171%;}
  .g_12_d .g_10_d {float:left;margin:0 1.041667%;width:82.986116%;}
  .g_12_d .g_11_d {float:left;margin:0 1.041667%;width:91.493061%;}
  .g_12_d .g_12_d {float:left;margin:0;width:100.000006%;}
}

@media (min-width: 640px) and (max-width: 959px) {
  body{max-width:959px;min-width:640px;margin:0 auto;}

  .container_9_t{width:98%; padding:0 1%;}

  .alpha_t{margin-left:0 !important;}
  .omega_t{margin-right:0 !important;}

  .g_1_t {float:left;margin:0 1.042753%;width:9.257328%;}
  .g_1_t .g_1_t {float:left;margin:0;width:100%;}

  .g_2_t {float:left;margin:0 1.042753%;width:20.600162%;}
  .g_2_t .g_1_t {float:left;margin:0 5.061867%;width:44.938133%;}
  .g_2_t .g_2_t {float:left;margin:0;width:100%;}

  .g_3_t {float:left;margin:0 1.042753%;width:31.942996%;}
  .g_3_t .g_1_t {float:left;margin:0 3.264418%;width:28.980776%;}
  .g_3_t .g_2_t {float:left;margin:0 3.264418%;width:64.490388%;}
  .g_3_t .g_3_t {float:left;margin:0;width:100%;}

  .g_4_t {float:left;margin:0 1.042753%;width:43.28583%;}
  .g_4_t .g_1_t {float:left;margin:0 2.408994%;width:21.386509%;}
  .g_4_t .g_2_t {float:left;margin:0 2.408994%;width:47.591006%;}
  .g_4_t .g_3_t {float:left;margin:0 2.408994%;width:73.795503%;}
  .g_4_t .g_4_t {float:left;margin:0;width:100%;}

  .g_5_t {float:left;margin:0 1.042753%;width:54.628664%;}
  .g_5_t .g_1_t {float:left;margin:0 1.908802%;width:16.945917%;}
  .g_5_t .g_2_t {float:left;margin:0 1.908802%;width:37.709438%;}
  .g_5_t .g_3_t {float:left;margin:0 1.908802%;width:58.472959%;}
  .g_5_t .g_4_t {float:left;margin:0 1.908802%;width:79.23648%;}
  .g_5_t .g_5_t {float:left;margin:0;width:100.000001%;}

  .g_6_t {float:left;margin:0 1.042753%;width:65.971498%;}
  .g_6_t .g_1_t {float:left;margin:0 1.580611%;width:14.032315%;}
  .g_6_t .g_2_t {float:left;margin:0 1.580611%;width:31.225852%;}
  .g_6_t .g_3_t {float:left;margin:0 1.580611%;width:48.419389%;}
  .g_6_t .g_4_t {float:left;margin:0 1.580611%;width:65.612926%;}
  .g_6_t .g_5_t {float:left;margin:0 1.580611%;width:82.806463%;}
  .g_6_t .g_6_t {float:left;margin:0;width:100%;}

  .g_7_t {float:left;margin:0 1.042753%;width:77.314332%;}
  .g_7_t .g_1_t {float:left;margin:0 1.348719%;width:11.973625%;}
  .g_7_t .g_2_t {float:left;margin:0 1.348719%;width:26.644688%;}
  .g_7_t .g_3_t {float:left;margin:0 1.348719%;width:41.315751%;}
  .g_7_t .g_4_t {float:left;margin:0 1.348719%;width:55.986814%;}
  .g_7_t .g_5_t {float:left;margin:0 1.348719%;width:70.657877%;}
  .g_7_t .g_6_t {float:left;margin:0 1.348719%;width:85.32894%;}
  .g_7_t .g_7_t {float:left;margin:0;width:100.000003%;}

  .g_8_t {float:left;margin:0 1.042753%;width:88.657166%;}
  .g_8_t .g_1_t {float:left;margin:0 1.176163%;width:10.441715%;}
  .g_8_t .g_2_t {float:left;margin:0 1.176163%;width:23.235756%;}
  .g_8_t .g_3_t {float:left;margin:0 1.176163%;width:36.029797%;}
  .g_8_t .g_4_t {float:left;margin:0 1.176163%;width:48.823838%;}
  .g_8_t .g_5_t {float:left;margin:0 1.176163%;width:61.617879%;}
  .g_8_t .g_6_t {float:left;margin:0 1.176163%;width:74.41192%;}
  .g_8_t .g_7_t {float:left;margin:0 1.176163%;width:87.205961%;}
  .g_8_t .g_8_t {float:left;margin:0;width:100.000002%;}

  .g_9_t {float:left;margin:0;width:100%;}
  .g_9_t .g_1_t {float:left;margin:0 1.042753%;width:9.257328%;}
  .g_9_t .g_2_t {float:left;margin:0 1.042753%;width:20.600162%;}
  .g_9_t .g_3_t {float:left;margin:0 1.042753%;width:31.942996%;}
  .g_9_t .g_4_t {float:left;margin:0 1.042753%;width:43.28583%;}
  .g_9_t .g_5_t {float:left;margin:0 1.042753%;width:54.628664%;}
  .g_9_t .g_6_t {float:left;margin:0 1.042753%;width:65.971498%;}
  .g_9_t .g_7_t {float:left;margin:0 1.042753%;width:77.314332%;}
  .g_9_t .g_8_t {float:left;margin:0 1.042753%;width:88.657166%;}
  .g_9_t .g_9_t {float:left;margin:0;width:100%;}
}

@media  (max-width: 639px) {
  body{max-width:936px;min-width:320px;margin:0 auto;}

  .container_3_m{width:98%; padding:0 1%;width:100%;}

  .alpha_m{margin-left:0 !important;}
  .omega_m{margin-right:0 !important;}

  .g_1_m {float:left;margin:0 1.068376%;width:31.908832%;}
  .g_1_m .g_1_m {float:left;margin:0;width:100%;}

  .g_2_m {float:left;margin:0 1.068376%;width:65.954416%;}
  .g_2_m .g_1_m {float:left;margin:0 1.61987%;width:48.38013%;}
  .g_2_m .g_2_m {float:left;margin:0;width:100%;}

  .g_3_m {float:left;margin:0;width:100%;}
  .g_3_m .g_1_m {float:left;margin:0 1.068376%;width:31.908832%;}
  .g_3_m .g_2_m {float:left;margin:0 1.068376%;width:65.954416%;}
  .g_3_m .g_3_m {float:left;margin:0;width:100%;}
}